*{
    font-family: tahoma;
    padding: 0%;
    margin: 0%;
}


h1{
    font-size: 300%;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

h2{
    font-family:sans-serif;
    padding-left: 10px;
}

h3{
    display: flex;
    justify-content: center;
}



.link{
    padding: 10px;
    list-style-type: none;
    
}

ul{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.link:hover{
    background-color: #0d5ce4;
}


a{
    color: aliceblue;
    text-decoration: none;
}

q{
    background-color:  #0d5ce4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

/* lainnya */

.click{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_click{
    width: 35%;
    height: 35%;
}

.kontak{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.tag{
    color: black;
    font-family: serif;
    padding-left: 15px;
}

.img_kontak{
    width: 100px;
    height: 100px;
}

.devin{
    background-color: white;
    display:contents;
    color: black;;
}

.item{
    padding: 10px;
    list-style-type: none;
    
}